<p-menubar [model]="items()" [breakpoint]="'960px'" class="old-money-menubar">

    <ng-template pTemplate="end">
        <a href="https://www.linkedin.com/in/thomas-velu/" target="_blank" class="social-link" aria-label="LinkedIn">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://codeberg.org/tvelu77" target="_blank" class="social-link" aria-label="LinkedIn">
            <i class="pi pi-code"></i>
        </a>
        <a href="https://github.com/tvelu77" target="_blank" class="social-link" aria-label="LinkedIn">
            <i class="pi pi-github"></i>
        </a>
    </ng-template>

</p-menubar>